[data-theme='light'] {
  --actions-bg-hover: rgba(22, 24, 35, 0.03);
  --box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

[data-theme='dark'] {
  --actions-bg-hover: rgba(255, 255, 255, 0.04);
  --box-shadow: rgb(255 255 255 / 12%) 0px 1px 1px;
}

.wrapper {
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-primary);
  box-shadow: var(--box-shadow);
}

.inner {
  width: 1150px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  padding-left: 20px;
}

.logo {
  color: var(--text-primary);
}

.actions {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-primary);
  .profile-image {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .actions-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .actions-item {
    cursor: pointer;
    width: 100%;
    min-width: 223px;
    min-height: 42px;
    padding: 10px 8px 10px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-primary);
    svg {
      width: 20px !important;
      margin-right: 8px;
      color: var(--text-primary) !important;
    }
    span {
      font-weight: bold;
    }
    &:hover {
      background-color: var(--actions-bg-hover);
    }
  }
}
