[data-theme='light'] {
  --bg-popper: white;
  --bg-thumb: #f1f1f2;
}

[data-theme='dark'] {
  --bg-popper: #252525;
  --bg-thumb: rgba(255, 255, 255, 0.08);
}

.popper-wrapper {
  width: 100%;
  max-height: min((100vh - 96px) - 60px, 734px);
  min-height: 100px;
  border-radius: 8px;
  padding: 8px 0;
  background-color: var(--bg-popper);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--bg-popper);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--bg-thumb);
  }
}
